include README.md LICENSE.md
recursive-include pyopenjtalk *.cpp *.pxd *.md *.pyx
recursive-include lib *.cpp *.c *.h README LICENSE COPYING CMakeLists.txt *.in
prune .github/
prune docs/
prune tests/
prune lib/open_jtalk/src/build/
exclude .gitignore
exclude .gitmodules
exclude lib/open_jtalk/src/mecab/src/config.h
