include pyopenjtalk/version.py
exclude .gitignore .gitmodules
prune .github/*
prune docs/**
prune tests/**
recursive-include lib *.cpp *.c *.h README LICENSE COPYING CMakeLists.txt *.in
exclude lib/open_jtalk/src/mecab/src/config.h
prune lib/open_jtalk/src/build/**
